<section class="container__big-card">
    <div class="big-card__photo">
      <img src="https://community.softr.io/uploads/db9110/original/2X/7/74e6e7e382d0ff5d7773ca9a87e6f6f8817a68a6.jpeg" alt="" height="200px" width="300px">
    </div>
    <div class="big-card__title">
      <h1>Saiu a nova versão do angular</h1>
    </div>
    <div class="big-card__description">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo distinctio nostrum debitis iste non</p>
    </div>
</section>