<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>

<section class="container__articles">
  <div class="articles__main">
    <app-big-card></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</section>
<h1>Novidades</h1>
<hr>
<section class="container__articles">
  <div class="articles__main">
    <app-big-card></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</section>