<section class="container__menu-bar">
  <div class="container__logo">
    <img src="https://cdn-icons-png.flaticon.com/512/10045/10045917.png" alt="">
    <h2>The Blog</h2>
  </div>
  <nav class="container__nav">
    <ul>
      <li><a href="https://www.linkedin.com/in/ingrid-vianna/" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/viannaingrid" target="_blank">Github</a></li>
      <li><a href="mailto:viannaingrid856@gmail.com" target="_blank">Email</a></li>
    </ul>
  </nav>
</section>